{% extends 'base.html' %}

{% block content %}

<div class="card tarjeta">
    <div class="card-header">
       Crédito
    </div>
    <div class="card-body">

            <div class="container">
                <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                <div class="row">

                    <!-- Lafo CENTRAL del form-->
                    <div class="col-12 col-m-4 col-lg-4">

                        <div class="mb-3">
                            <label for="inputNombres" class="form-label">Cliente</label>
                            <input type="text" class="form-control" id="inputNombres"  value="{{ credito.cliente }}">

                        </div>

                        <div class="mb-3">
                            <label for="" class="form-label">Descripción</label>
                            <input type="text" class="form-control" id="inputApellidos"   value="{{credito.descripcion_credito }} ">
                        </div>

                        <div class="mb-3">
                            <label for="" class="form-label">Pago Min</label>
                            <input type="text" class="form-control" id="inputCedula"  value="{{credito.pago_minimo  }}">
                        </div>

                        
                        <div class="mb-3">
                            <label for="inputNombres" class="form-label">Pago Max</label>
                            <input type="text" class="form-control" id="inputNombres"  value="{{ credito.pago_maximo }}">

                        </div>

                        <div class="mb-3">
                            <label for="" class="form-label">Plazo</label>
                            <input type="text" class="form-control" id="inputApellidos"   value="{{credito.plazo_meses }} ">
                        </div>

                        <div class="mb-3">
                            <label for="" class="form-label">F Regsitro</label>
                            <input type="text" class="form-control" id="inputCedula"  value="{{credito.fecha_registro  }}">
                        </div>


                        
                

                        <div class="mb-3">
                            <label for="" class="form-label">Tipo </label>
                            <input type="text" class="form-control" id="inputApellidos"   value="{{credito.tipo_credito }} ">
                        </div>

                        <div class="mb-3">
                            <label for="" class="form-label">Banco</label>
                            <input type="text" class="form-control" id="inputCedula"  value="{{credito.banco_otorgante  }}">
                        </div>



                    </div>

               








                </div>

              


    </div>
  </div>

{% endblock content %}

